# Database Configuration
POSTGRESQL_USERNAME=<YOUR_POSTGRES_USERNAME>
POSTGRESQL_PASSWORD=<YOUR_POSTGRES_USER_PASSWORD>
POSTGRESQL_SERVER=<YOUR_POSTGRES_SERVER>
POSTGRESQL_PORT=<YOUR_POSTGRES_PORT>
POSTGRESQL_DATABASE=<YOUR_DATABASE_NAME>

# App Host Configuration
HOST_IP_ADDRESS=<YOUR_HOST_IP>
HOST_PORT_NUMBER=<YOUR_HOST_PORT>

#Secret Key
SECRET_KEY=<YOUR_SECRET_KEY>


#To connect to analysis
export PYTHONPATH=.
python analysis/revenue_analysis.py

#SMTP Confgoration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email
SMTP_PASSWORD=your_password
BACKEND_URL=http://localhost:8000
EMAIL_FROM=your_email

