# Database Configuration
POSTGRESQL_USERNAME=your_postgres_username
POSTGRESQL_PASSWORD=your_postgres_password
POSTGRESQL_SERVER=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=insurance

# App Host Configuration
HOST_IP_ADDRESS=127.0.0.1
HOST_PORT_NUMBER=8000

#SECRET KEY
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7